generic-service:
  nameOverride: hmpps-offender-categorisation-api
  serviceAccountName: hmpps-offender-categorisation-api
  productId: "DPS006" # productId for the product that this belongs too, i.e. DPS001, see README.md for details

  replicaCount: 4

  image:
    repository: quay.io/hmpps/hmpps-offender-categorisation-api
    tag: latest # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-offender-categorisation-api-cert

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash,s3"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY)"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    HMPPS_SQS_USE_WEB_TOKEN: "true"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-offender-categorisation-api:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      API_CLIENT_ADMIN_ID: "API_CLIENT_ADMIN_ID"
      API_CLIENT_ADMIN_SECRET: "API_CLIENT_ADMIN_SECRET"
    dps-rds-instance-output:
      DB_SERVER: "rds_instance_address"
      DB_NAME: "database_name"
      DB_USER: "database_username"
      DB_PASS: "database_password"
    domain-events-offender-categorisation-api-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTSQUEUE_QUEUE_NAME: "sqs_queue_name"
    domain-events-offender-categorisation-api-dlq:
      HMPPS_SQS_QUEUES_DOMAINEVENTSQUEUE_DLQ_NAME: "sqs_queue_name"
    risk-profiler-s3-bucket-output:
      S3_BUCKET_NAME: "bucket_name"

  allowlist:
    groups:
      - internal

  resources:
    requests:
      cpu: 10m
      memory: 1000Mi
    limits:
      cpu: 2000m
      memory: 1000Mi

generic-prometheus-alerts:
  targetApplication: hmpps-offender-categorisation-api

cron:
  report_released_prisoners_with_active_categorisations_schedule: "0 6 1 * *"
  report_prs_eligibility_investigation_schedule: "0 0 1 * *"
  poll_prisoners_risk_profile_schedule: "15 2 * * 1-5"
