version: 2.1

develop_branch:
  filters:
    branches:
      ignore:
        - /^renovate-.*$/
        - main
      only:
        - develop

main_branch:
  filters:
    branches:
      only:
        - main

orbs:
  hmpps: ministryofjustice/hmpps@8

parameters:
  nonprod-releases-slack-channel:
    type: string
    default: sed-nonprod-releases
  releases-slack-channel:
    type: string
    default: dps-releases

jobs:
  validate:
    executor:
      name: hmpps/java_localstack_postgres
      localstack_tag: "3"
      services: "sns,sqs,s3"
      jdk_tag: "21.0"
      postgres_tag: "16"
      postgres_username: "form-builder"
      postgres_password: "form-builder"
    environment:
      _JAVA_OPTIONS: -Xmx800m -XX:ParallelGCThreads=2 -XX:ConcGCThreads=2 -XX:ParallelGCThreads=2 -Djava.util.concurrent.ForkJoinPool.common.parallelism=2 -Dorg.gradle.daemon=false

    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
      - run:
          command: ./gradlew check
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports/tests

workflows:
  version: 2