---
# Per environment values which override defaults in hmpps-offender-categorisation-api/values.yaml

generic-service:
  ingress:
    host: hmpps-offender-categorisation-api.hmpps.service.justice.gov.uk

  env:
    HMPPS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
    HMPPS_AUTH_TOKEN_URL: https://sign-in.hmpps.service.justice.gov.uk/auth/oauth/token
    PRISONER_SEARCH_API_ENDPOINT_URL: https://prisoner-search.prison.service.justice.gov.uk
    PRISON_API_ENDPOINT_URL: https://prison-api.prison.service.justice.gov.uk
    MANAGE_ADJUDICATIONS_API_ENDPOINT_URL: https://manage-adjudications-api.hmpps.service.justice.gov.uk
    ASSESS_RISKS_AND_NEEDS_API_ENDPOINT_URL: https://assess-risks-and-needs.hmpps.service.justice.gov.uk
    MANAGE_OFFENCES_API_ENDPOINT_URL: https://manage-offences-api.hmpps.service.justice.gov.uk
    PROBATION_SEARCH_API_ENDPOINT_URL: https://probation-offender-search.hmpps.service.justice.gov.uk
    ALERTS_API_ENDPOINT_URL: https://alerts-api.hmpps.service.justice.gov.uk

  resources:
    limits:
      cpu: 2000m
      memory: 4000Mi

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: dps-sed-alerts-prod
  sqsAlertsQueueNames:
    - "offender_categorisation_api_queue_for_domain_events"
    - "offender_categorisation_api_queue_for_domain_events_dead_letter_queue"
